<h1>{{dyPage}}</h1>
<p>
  In type 1 diabetes, the body does not produce insulin. The body breaks down
  the carbohydrates you eat into blood sugar that it uses for energy—and insulin
  is a hormone that the body needs to get glucose from the bloodstream into the
  cells of the body. With the help of insulin therapy and other treatments,
  everyone can learn to manage their condition and live long healthy lives.
</p>
<p>
  Type 2 diabetes is the most common form of diabetes—and it means that your
  body doesn’t use insulin properly. And while some people can control their
  blood sugar levels with healthy eating and exercise, others may need
  medication or insulin to help manage it.
</p>
