<h1>{{covPage}}</h1>
<p>
  COVID-19 is an infectious respiratory disease caused by a new coronavirus that
  initially emerged in Wuhan Province, China in December 2019.
</p>

<p>
  The virus that causes COVID-19 spreads person to person. At this time, it
  appears that COVID-19 is spread primarily through respiratory droplets
  (moisture that comes from coughing and sneezing).
</p>

<p>
  More than ever, it is important to find ways to relax and take care of
  yourself. Each day, try to think about one thing you are grateful for,
  exercise, eat healthy food, and give your mind a break. Guided meditation,
  yoga, exercise, listening to your favorite music, and a writing in a gratitude
  journal are things that can help lower stress.
</p>
