<h1>{{hyPage}}</h1>

<p (mouseenter)="onButtonClick()">
  At a basic anatomic level, hypertension happens when there's an abnormality in
  blood vessels that can impair the way oxygen is transferred to the cells.
</p>

<p>Any blood pressure reading of 120 over 80 is considered elevated.</p>
<p>
  Individuals with elevated high blood pressure reading should try relaxation
  exercises, or lie down and listen to music. Then they should take their blood
  pressure again, and they will likely see a drop.
</p>

<button (click)="onButtonClick()" > More Info  </button>
